<div class="flex flex-col items-center justify-center w-full mb-10">
    <!-- Text Section -->
    <div class="flex items-center justify-center max-w-[90%] mx-auto w-fit mb-16">
        <p class="font-fit text-[2.5rem]/13 mx-auto max-w-[45ch] font-medium">
            We are a Berlin-based communications agency <br>
            specialising in helping companies and brands find <br>
            their voice and position themselves. Whether it's <br>
            brand building, identity sharpening, or <br>
            communication strategy, we bring a fresh <br>
            perspective to established structures, develop tailor- <br>
            made communication solutions, and ensure that <br>
            messages resonate. With over a decade of <br>
            experience, we have honed our skills in giving <br>
            brands their unmistakable identity and making them visible
            in the long term.
        </p>
    </div>

    <!-- Sticky Image Section -->
    <div class="sticky top-0 flex items-center justify-center">
        <img src="/public/yellowPolygon.png" alt="Yellow Polygon" class="w-[208px] h-[134px]">
    </div>
</div>
