<div id="topHeroHolder" class="lg:min-h-[650px]">
    <div class="relative mx-auto hero">
        <div class="relative">
            <div class="relative flex lg:hidden">
                <div class="h-[106.6vw]">
                    <div class="absolute top-0 left-0 h-[140vw] w-full">
                        <img src="../../public/smpink-hero-section.svg" class="sticky h-[106.6vw] top-[-2.3vw]">
                    </div>
                    <div class="absolute top-0 left-0 h-[140vw] w-full">
                        <img src="../../public/smgreen-side-hero-section.svg" class="sticky h-[106.6vw]">
                    </div>
                    <div class="absolute top-0 left-0 h-[140vw] w-full">
                        <img src="../../public/smyellow-hero-section.svg" class="sticky h-[106.6vw] top-0">
                    </div>
                    <div class="absolute top-0 left-0 h-[140vw] w-full">
                        <img src="../../public/smblue-hero-section.svg" class="sticky h-[106.6vw] top-[-18.4vw]">
                    </div>
                    <div class="absolute top-0 left-0 h-[140vw] w-full">
                        <img src="../../public/smred-hero-section.svg" class="sticky h-[106.6vw] top-[-53.6vw]">
                    </div>
                    <div class="absolute top-0 left-0 h-[150vw] w-full">
                        <img src="../../public/smgreen-mid-hero-section.svg" class="sticky h-[106.6vw] top-[-13.8vw]">
                    </div>

                </div>
            </div>
            <div class="relative hidden lg:flex">
                <div class="h-[73vw]">
                    <div class="absolute top-0 left-0 h-[90vw] w-full">
                        <img src="../../public/lgpink-hero-section.svg" class="sticky h-[68vw] top-[-1.6vw]">
                    </div>
                    <div class="absolute top-0 left-0 h-[90vw] w-full">
                        <img src="../../public/lggreen-side-hero-section.svg" class="sticky h-[68vw]">
                    </div>
                    <div class="absolute top-0 left-0 h-[90vw] w-full">
                        <img src="../../public/lgyellow-hero-section.svg" class="sticky h-[68vw] top-0">
                    </div>
                    <div class="absolute top-0 left-0 h-[90vw] w-full">
                        <img src="../../public/lgred-hero-section.svg" class="sticky h-[68vw] top-[-33.7vw]">
                    </div>
                    <div class="absolute top-0 left-0 h-[100vw] w-full">
                        <img src="../../public/lggreen-mid-hero-section.svg" class="sticky h-[68vw] top-[-9.8vw]">
                    </div>
                    <div class="absolute top-0 left-0 h-[100vw] w-full">
                        <img src="../../public/lgblue-hero-section.svg" class="sticky h-[68vw] top-[-4.7vw]">
                    </div>
                </div>
            </div>

            <div class="absolute -top-2 flex justify-center items-center w-full h-full">
                <h1 class="text-white text-2xl md:text-4xl lg:text-5xl text-center w-[15rem] md:w-[21rem] lg:w-[28rem]">
                    We help you set
                    focus and gain
                    impact. By adding
                    to the conversation,
                    not to the noise.
                </h1>
            </div>
        </div>
    </div>
</div>