<div class="flex flex-col gap-y-12 lg:flex-row mt-6 mx-6 md:mx-12 lg:mx-24 justify-center items-center lg:gap-x-64">
    <!--Content 1-->
    <div class="flex flex-col mt-12 space-y-6 md:space-y-18 lg:h-auto font-fit font-semibold text-2xl md:text-4xl lg:text-5xl">
        <!--Brand Strategy-->
        <div class="">Brand Strategy</div>
        <!--Corporate-->
        <div class="whitespace-pre-line">Corporate Identity &
             Website development</div>
         <!--Copywriting-->
         <div class="">SEO & Copywriting</div>
          <!--Corporate-->
        <div class="">Media Relations</div>
         <!--Corporate-->
         <div class=" whitespace-pre-line">Digital marketing &
             Content Production</div>
          <!--Corporate-->
        <div class="">Influencer relations</div>
    </div>

    <!--Content 2-->
    <div class="flex flex-col space-y-3 h-screen md:h-[600px] lg:h-[550px] md:self-end">
        <div class="relative">
            <img src="../../public/Vector 5.png" class="w-full h-full object-cover">
            <div class="absolute px-6 md:px-12 py-4 text-white inset-0 flex flex-col justify-center items-center text-base md:text-xl lg:text-2xl overflow-hidden">
                <p class="text-center">Our strategic approach is a collaborative journey that starts with analysing the initial situation and leads to messages that cut through the information overload. We take care of content production and maintain relationships with multipliers to position your brand in the best possible way. From analysis to implementation, we accompany you every step of the way, ensuring that every measure is effective.</p>
            </div>
        </div>
    </div>
</div>